body {
    font-family: century Gothic;
}

.font-bold {
    font-weight: bold;
}

#dataGrid *:hover div > input,
#dataGrid *:hover div > select,
#dataGrid *:hover div:not(:nth-last-child(-n+1)) {
    background-color: #CFF5FF;
    cursor: pointer;
}

.col-1 {
    width: 3%;
    padding-left: 0;
}

.col-2 {
    width: 6%;
    padding-left: 0;
}